<% layout('layouts/boilerplate')%>
<h1>All campgrounds</h1>

<div>
    <a href="/campgrounds/new">Create new Campground</a>
</div>
<ul>
    <% for (let campground of campgrounds) {  %> 
        <li><a href="/campgrounds/<%=campground._id%>"><%=campground.tittle  %> </a> </li>
        <% } %> 
</ul>

