<% layout('layouts/boilerplate')%>
    <!-- this form is going to /campgrounds (web site ) -->
    <!-- Form only send a GET or POST request from the browswer so we can fake a PUT  -->
    <form action="/campgrounds" method="POST">
    <div>
        <label for="tittle">tittle</label>
        <input type="text" id = "tittle" name="campground[tittle]">
    </div>

    <div>
        <label for="location">location</label>
        <input type="text" id = "location" name="campground[location]">
    </div>

    <button>Submit</button>

</form>
<a href="/campgrounds">All campgound</a>

    